/* header */
.body{
    background-color: darkseagreen;
}
.header{
    width: 90%;
    background-color:#00bcd4;
    padding: 30px;
    margin: 20px;
}
.header-elements{
     display: flex;
     justify-content: space-between;
     color: rgb(22, 25, 31);
     padding: 15px;

}
.header{
     font-size: 22px;
}
.header h1{
    font-size: 38px;
}
.header-a { 
    color: rgb(44, 54, 97);
    font-size: 23px;
    padding: 12px;
   
}

/* about me */

.img-me{
    width: 23%;
    align-items: center;
}
.about-me-text{
    display: flex;
    flex-direction: column;
    margin: 22px 22px;
    justify-content: center;
    align-items: center;
}
.About-me-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* PROTOFOLIO */

.Protofolio{
    display: flex;
    flex-direction: row;
    margin: 10px;
    

}
.ocen img {
    width: 30%  
}
.text{
    text-align: center;
    padding: 50px;
    margin: 30px;
    font-size: 43px;
    }

    /* footer */
    
 .footer{
        width: 90%;
        background-color:#c16d6d;
        padding: 30px;
        margin: 20px;
    }

 .footer-elements{
        display: flex;
        justify-content: space-between;
        color: rgb(0, 0, 0);
        font-size: large;
    }
 .footer-a { 
        color: rgb(44, 54, 97);
        font-size: 20px;
        padding: 28px; 
    }
@media only screen and (max-width: 600px){
  body { background-color: lightcyan;

  }
}
